:root{
  --g1: #9fe1f3;
  --g2: #c29ff3;
  --g3: #f3e39f;
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

canvas {
  top:0;
  left: 0;
  position: fixed;
  z-index: -1;
}

main {
  /* margin-left: 5rem !important; */
  /* width: fit-content !important; */
  overflow-x: hidden;
  color: rgb(255, 255, 255);
  z-index: 2; 
  position: absolute;
  margin: 0px auto;
  padding: 0px 0px;
  left: 0px;
  top: 0px;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  left: -5rem;
  background-color: var(--bg-primary);
  z-index: 4;
  transition: width 200ms ease;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
}

.fa-primary {
  color: #9fe1f3;
}

.fa-secondary {
  color: aqua;
}

.fa-primary, .fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0 !important;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 0.5rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

section {
  height: 100vh;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

img {
  height: 20vh;
  width: auto;
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2{
  grid-column: 1 / 5;
}
h3{
  grid-column: 1/5;
}
p{
  grid-column: 1 / 5
}

header {
  display: grid;
  background: var(--dark-bg);
  grid-column: 1 / 14;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  justify-content: center;
  align-items: center
}

.header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 3;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 1 / 14;
  margin-bottom: var(--spacing);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 8 / 14;
}

.right {
  grid-column: 2 / 8;
}

.round-radius{
  border-radius: 30px;
}

.full {
  grid-column: 1 / 14;
}

.content {
  grid-column: 1/7;
}

#experience{
  display: grid;
  justify-content: center;
  align-items: start;
  justify-items: start;
  align-content: center;
}

#education{
  display: grid;
  background-color: transparent;
  backdrop-filter: none;

  grid-template-columns: repeat(13, 1fr);
}

#education-div {
  grid-column: 11 / 14;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20vh;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

#loading {
  animation: background-pan 10s linear infinite;
  background: linear-gradient(
    to right,
    var(--g1),
    var(--g2),
    var(--g3),
    var(--g2),
    var(--g1)
  );
  background-size: 200%;
  /* width: max-content; */
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  display: block;
  position: relative;
  z-index: 100;
  /* margin-left: -5rem !important; */
}

#loading.toggled {
  animation: none;
}

#loading.toggled > #title {
  opacity: 0;
}

#loading.toggled > #icon {
  opacity: 1;
}

#loading.toggled > #tiles > .tile:hover {
  opacity: 0.1 !important;
}

.centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#tiles {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  cursor: pointer;
  position: relative;
}

.tile:hover:before {
  background-color: rgb(30, 30, 30);
}

.tile:before {
  background-color: rgb(15, 15, 15);
  content: "";
  inset: 0.5px;
  position: absolute;
}

#title{
  color: rgb(255, 255, 255);
  font-family: "Rubik", sans-serif;
  font-size: 4vw;
  margin: 0px;
  pointer-events: none;
  transition: opacity 1200ms ease;
  width: 50vw;
  z-index: 100;
}

/* .margin-5rem-left {
  margin-left: 5rem !important;
}

.pin-spacer {
  margin: 0 !important;
} */

.dev-stack-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.el{
  position: relative;
}

.trans {
  grid-column: 1 / 14;
  background: transparent;
}

.large-image {
  width: 100%;
  height: auto;
}
.small-icon {
  width: 3vw;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
}

.transparent {
  border: 0px;
  box-shadow: none;
}

.frostglass {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.frostglass-dark {
  background-color: rgba(8, 8, 8, 0.794);
  backdrop-filter: blur(5px);
}

.no-margin-bot{
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px 
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.925);
  border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(107, 107, 107); 
}