canvas {
  top:0;
  left: 0;
  position: fixed;
}

main {
  width: 100vw;
  color: rgb(255, 255, 255);
  z-index: 1; 
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 0px 0px;
  left: 0px;
  top: 0px;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
}

section {
  height: 100vh;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

img {
  height: 20vh;
  width: auto;
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2{
  grid-column: 1 / 5;
}
h3{
  grid-column: 1/5;
}
p{
  grid-column: 1 / 5
}

header {
  display: grid;
  background: var(--dark-bg);
  grid-column: 1 / 14;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  justify-content: center;
  align-items: center
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 1 / 14;
  margin-bottom: var(--spacing);
  display: grid;
  justify-content: center;
  align-items: center;
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 8 / 14;
}

.right {
  grid-column: 1 / 7;
}

.round-radius{
  border-radius: 30px;
}

.full {
  grid-column: 1 / 14;
}
div {
  grid-column: 1/7;
}
#experience{
  display: grid;
  justify-content: center;
  align-items: start;
  justify-items: start;
  align-content: center;
}
#loading{
  background-color: rgb(0, 0, 0);
}
.trans {
  grid-column: 1 / 14;
  background: transparent;
}

.large-image {
  width: 100%;
  height: auto;
}
.small-icon {
  width: 4vw;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.transparent {
  border: 0px;
  box-shadow: none;
}

.frostglass {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.frostglass-dark {
  background-color: rgba(8, 8, 8, 0.794);
  backdrop-filter: blur(5px);
}

.no-margin-bot{
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px 
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.925);
  border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(107, 107, 107); 
}